body {
    color: #fff;
    background-color: #382313;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    border-bottom: 1px solid #382313;
}

h2 {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border: 2px solid #382313;
    color: #382313;
}

td {
    border: 1px solid #382313;
    width: 50px;
    height: 50px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 1.5em;
}

.content {
    width: 1000px;
    background-color: #F1EED9;
    margin: 0 auto;
    padding: 5px 20px;
    color: #382313;
}

.selected {
    background-color: #00A8C6;
    color: #fff;
}

.hidden {
    display: none;
}

.activity {
    border: 1px solid #382313;
    border-radius: 5px;
    background: #fff;
    padding: 20px;
    display: flex;
}

.gridArea {
    width: 190px;
}

.descriptionArea {
    margin-left: 20px;
    width: 750px;
}

.activity h2:first-child {
    margin-top: 0;
}

.activity h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.2em;
}

.activity ul {
    margin: 5px 0;
}

.new {
    font-weight: bold;
}

button {
    color: #fff;
    background-color: #00A8C6;
    font-size: 1em;
    border: 1px solid #00A8C6;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px #333);
}

button:hover {
    filter: drop-shadow(1px 1px 2px #333);
}

.example {
    border: 1px solid #382313;
    border-radius: 5px;
    float: right;
    width: 150px;
    margin-left: 10px;
}
